include README.md
include license.txt
include pyproject.toml
recursive-include erpnext_mexico_compliance *.css
recursive-include erpnext_mexico_compliance *.csv
recursive-include erpnext_mexico_compliance *.html
recursive-include erpnext_mexico_compliance *.js
recursive-include erpnext_mexico_compliance *.json
recursive-include erpnext_mexico_compliance *.md
recursive-include erpnext_mexico_compliance *.png
recursive-include erpnext_mexico_compliance *.py
recursive-include erpnext_mexico_compliance *.svg
recursive-include erpnext_mexico_compliance *.txt
recursive-include erpnext_mexico_compliance *.xml
recursive-exclude erpnext_mexico_compliance *.pyc
